h1 {
  color: #0099ff;
}

.container {
  background-color: red;
}

body {
  background-color: green;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://www.publicdomainpictures.net/pictures/120000/velka/rainbow-colors-background.jpg);
}

.navbar li {
  display: inline-block;
  margin-right: 100px;
}



.login {
  float: right;
  border: 1px solid black;
  padding: 20px;
  margin-top: 5px;
  margin-right: 5px;
  height: 20px;
}

.login:active {
  position: relative;
  top: 5px;
}

.login:hover {
  cursor: pointer;
}




.navbar li:hover {
  cursor: pointer;
}

.logo {
  border: 5px solid black;
  font-size: 50px;
  margin-top: 16px;
  font-family: cursive;
  background-color: antiquewhite;
}

.logo:active {
  background-color: blue;
}

.navbar li {
  border: 2px solid black;
  padding: 4px;
  font-size: 40px;
  margin-top: 11px;
}

.navbar li:active {
  position: relative;
  top: 5px;
}


.green {
  background-color: #00cc00;
}

.red {
  background-color: #ff8566;
}

.blue {
  background-color: #0099ff;
}

.green:active {
  background-color: green;
}

.red:active {
  background-color: red;
}

.blue:active {
  background-color: blue;
}



.login {
  background-color: teal;
  font-size: 20px;
  padding: 10px;
}

.login:active {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: white;
}

p {
  font-size: 25px;
}

.logo,
.nav {
  margin-top: 50px;
  margin-left: 10px;
}

.link {
  text-decoration: underline blue;
  color: blue;
}

footer{
  position: relative;
  background-color: white;
  display: flex;
  border: 3px solid black;
  border-radius: 20px;
  animation-name: footer;
  animation-duration: 1s;
  opacity: 1;
}

@keyframes footer{
  0%{
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

footer ul,
footer ul li {
  display: inline-block;
}

.footerBar li {
  padding: 0px 20px;
  font-size: 20px;
  position: relative;
  top: 13px;
}

.footerLogo {
  position: relative;
  left: 10px;
}

.main {
  padding-left: 20px;
}
